# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
objs/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pcap
output/*
deploy/*
.vscode/settings.json

# Project
log/*
conf/*
test*
exodia
